<section>
<form action="/newcompanies" method="POST">
<label>Enter Company</label>
<br>
<input type= "text" name="name" required placeholder="name"> 
<label>Enter Logo</label>
<br>
<input type= "text" name="logoUrl" required placeholder="logo"> 
<button type="submit">Submit</button>
</form>
</section>